# -------------------------------------------------------------------
# MONOREPO RECURSIVE IGNORES
# -------------------------------------------------------------------


**/node_modules/
**/vendor/
**/bin/
**/obj/


**/.env
**/.env.*
!**/.env.example


**/.expo/
**/dist/
**/web-build/
**/expo-env.d.ts
**/.metro-health-check*


**/ios/
**/android/


**/*.jks
**/*.p8
**/*.p12
**/*.key
**/*.pem
**/*.mobileprovision
**/*.keystore
**/*.orig.*


**/go.sum
**/*.exe
**/*.exe~
**/*.dll
**/*.so
**/*.dylib
**/debug
**/out/


.DS_Store
**/.DS_Store
.vscode/
.idea/
*.swp
*.swo
*~
.history/


**/npm-debug.*
**/yarn-debug.*
**/yarn-error.*
**/*.log


**/*.tsbuildinfo
